<!DOCTYPE html>
<html>
<head>
  <title>URLockBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/nav' %>
  <div class="container">
    <div id="flash">
      <% flash.each do |key, value| %>
      <div class="container">
        <p class="flow text">
          <%= value %>
        </p>
      </div>
      <% end %>
    </div>

    <%= yield %>
  </div>


</body>

<script type="text/javascript">
  $(document).ready(function(){
    setTimeout(function(){
      $('#flash').remove();
    }, 2500);
    $('select').material_select();
   })
</script>
</html>
